@import "tailwindcss";

@theme {
  --color-background: #F4F7FE;
  /* Or #F8FAFC */
  --color-foreground: #1e293b;
  --color-primary: #1F64FF;
  --color-primary-hover: #154BEB;
  --color-card: #FFFFFF;
  --color-success: #10B981;
  --color-success-bg: #D1FAE5;
  --color-danger: #EF4444;
  --color-danger-bg: #FEE2E2;
  --color-border: #E2E8F0;
  --color-muted: #64748B;
  --color-muted-foreground: #94A3B8;
  --color-muted-bg: #F1F5F9;
  --font-sans: var(--font-geist-sans), Arial, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}